<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	{
	"ConnectionStrings": {
	"DefaultConnection": "Server=localhost;Database=pa_project;Trusted_Connection=True;MultipleActiveResultSets=true"
	}
	}
</configuration>